$primary-color: #0d1c32;
$secondary-color: #0059bb;
$tertiary-color: #191c1e;

$primary-bg-color: #f7f9fb;
$secondary-bg-color: #f2f4f6;

$pure-black: #000;
$pure-white: #fff;
$light-gray: #c5c6cd;
$gray: #44474d;

$hero-gradient: linear-gradient(
	45deg,
	rgba(13, 28, 50, 0.9),
	rgba(13, 28, 50, 0.8)
);
