@media (width >= 340px) {
	.header {
		&__title {
			font-size: 5rem;
		}
	}
}

@media (width >= 576px) {
	.header {
		.wrapper {
			padding: 5em 2em;
		}
		&__title {
			font-size: 6.4rem;
		}
	}

	.footer {
		&__boxes {
			flex-direction: row;
			justify-content: space-between;
			flex-wrap: wrap;
		}

		&__box {
			&:first-child {
				width: 100%;
			}
			width: 45%;
		}

		&__legal {
			gap: 6em;
		}
	}
}
